.nav-container{
    background-color: var(--dark-blue);
    padding: 15px 50px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    
}

.nav-logo{
    color: var(--white);
    font-weight: bold;
    font-size: 2rem;
}

.nav-profile{
    width: 40px;
    height: 40px;
    border-radius: 50%;
    border: none;
    background-color: var(--light-blue);
    cursor: pointer;
}